services:
  postgres:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: homenet_user
      POSTGRES_PASSWORD: homenet_password
      POSTGRES_DB: homenet
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql
      - ./sql/postgres.initdb.sql:/docker-entrypoint-initdb.d/initdb.sql:ro

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@homenet.de
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  
  homenet_web:
    build:
      context: .
      target: final
    ports:
      - 8080:8080

volumes:
  pg-data:
    driver: local
  pgadmin-data:
    driver: local