<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h4">Signup</MudText>
    </MudCardHeader>
    <MudCardContent>
        <form method="post" action="/api/auth/signup">
            <MudInput Label="Username" name="username" id="username" T="string" Clearable /><br />
            <MudInput Label="Password" name="password" id="password" T="string" Clearable InputType="InputType.Password" /><br />
            <MudInput Label="PasswordRepeat" name="passwordRepeat" id="passwordRepeat" T="string" Clearable InputType="InputType.Password" /><br />
            
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Signup</MudButton>
        </form>
    </MudCardContent>
</MudCard>